<% layout('layout/boilerplate') %>
<header>
    <a href="/campground/new">add more campground</a>
</header>


<div class="row">
    <div class="col-md-12">
        <% for (let c of camps){ %>
            <div class="card mb-3">
                <div class="row" >
                    <div class="col-md-4">
                        <img src="<%=c.image%>" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title"><%=c.title%></h5>
                            <p class="card-text"><%=c.description%></p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%=c.location%>
                                </small>
                            </p>
                            <a class="btn btn-primary" href="/campground/<%=c._id%>">view details</a>
                        </div>
                    </div>
                </div>
                
            </div>
            
        <%}%>  
    </div>
    <div class="col-md-2">
        <button
        class="btn btn-outline-dark fixed-bottom right"
        name="backtotop"
        id="btn-back-to-top"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg>

        </button>
    </div>
    
</div>
    





<script>
    //Get the button
    let mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
    scrollFunction();
    };

    function scrollFunction() {
    if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
    ) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }
    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);

    function backToTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
</script>
