<% layout('layout/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%=camp.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%=camp.title%></h5>
                <p class="card-text"><%=camp.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%=camp.location%></li>
              <li class="list-group-item">$<%=camp.price%>/night</li>
        
            </ul>
            <div class="card-body">
                <form class='d-inline' action="/campground/<%=camp._id%>?_method=DELETE" method="post">
                    <button class='btn btn-danger'>delete</button>
                </form>
                <a class="card-link btn btn-info text-light" href="/campground/<%=camp._id%>/edit">edit</a>
                <a class="card-link btn btn-primary text-light" href="/campground">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
                      </svg>
                      Campground
                </a>
            </div>
            <div class="card-footer text-muted">
                1 days ago
            </div>
          </div>  
    </div>
    <div class="col-6">
        <% for (let review of camp.reviews){%>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rating: <%=review.rating%></h5>
                    <p class = "card-text">Review: <%=review.body%></p>
                    <form class='d-inline' action="/campground/<%=camp._id%>/reviews/<%=review._id%>?_method=DELETE" method="post">
                        <button class='btn-sm.btn-sm btn-danger rounded border-0'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>                       
                    </form>
                    
                </div>
            </div>
          <%}%>
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">Share Your Review!</h3>
                <form action="/campground/<%=camp._id%>/reviews" method="post" class="mb-3 validated-form" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="rating">Rating</label>
                        <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5" value="0">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="body">Review</label>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    </div>
                    <button class="btn btn-success">Submit</button>   
                </form>
            </div>
            
        </div>
          
    </div>
</div>

